<section>
<h1>Contact</h1>
<br />
<div class="cohoe-imgcontainer">
	<div class="cohoe-imgbox">
		<a href="{{ root_url }}/callme"><img src="{{ root_url }}/images/contact/phone2.png" title="Google Voice Call" /></a>
	</div>
	<strong>PHONE</strong><br />
	<a href="{{ root_url }}/callme">+1 (330) 790-1701</a>
</div>
<div class="cohoe-imgcontainer">
	<div class="cohoe-imgbox">
		<a href="mailto: cohoe.grant@gmail.com"><img src="{{ root_url }}/images/contact/mail.png" title="Email" /></a>
	</div>
	<strong>EMAIL</strong><br />
	<a href="mailto: cohoe.grant@gmail.com">cohoe.grant@gmail.com</a>
</div>
</section>
<section>
<a href="https://www.facebook.com/grantcohoe"><img src="{{ root_url }}/images/contact/fb.png" title="Facebook" /></a>
<a href="https://www.linkedin.com/in/grantcohoe"><img src="{{ root_url }}/images/contact/in.png" title="LinkedIn" /></a>
<a href="https://plus.google.com/113722690355249719796"><img src="{{ root_url }}/images/contact/gplus.png" title="Google+" /></a>
<a href="https://www.twitter.com/grantcohoe"><img src="{{ root_url }}/images/contact/twitter2.png" title="Twitter" /></a>
<a href="https://www.github.com/cohoe"><img src="{{ root_url }}/images/contact/github.png" title="Github" /></a>
<a href="https://www.grantcohoe.com/resume"><img src="{{ root_url }}/images/contact/pdf.png" title="Resume" /></a>
</section>
